h3 {
  font-family: arial;
  color: dimgray;
}

body {
  margin: 20px;
}

.orangeback{
  background-color : orange;
  width : 35%;
}

.blueback{
  background-color : lightblue;
  width : 35%;
}

.yellowback{
  background-color : yellow;
  width : 10%;
}

.pinkback{
  background-color : pink;
  width : 10%;
}

.redback{
  background-color : red;
}

.blackback{
  background-color : black;
}

.greenback{
  background-color : green;
}

.greyback{
  background-color : grey;
}

canvas{
  width : 100pt;
  height : 50pt;
  margin : 10px;
  border : 1px solid lightgrey;
}

.canvasorangeback{
  background-color : orange;
}

.transparent{
  width : 100pt;
  height : 100pt;
  border : 1px solid lightgrey;
}

input{
  font-size : 10pt;
}